<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>European Black Jack</string>
  <key>CFBundleDisplayName</key>
  <string>European Black Jack</string>
  <key>CFBundleIdentifier</key>
  <string>lt.nk.bjtrainer</string>
  <key>CFBundleExecutable</key>
  <string>bjtrainer</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleIconFile</key>
  <string>AppIcon</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>lt</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>European Black Jack trainer</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
</dict>
</plist>
